{% extends 'base.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}
    <h1>Quiz index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Summary</th>
                <th>Category</th>
                <th>Number_of_question</th>
                <th>Active</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.summary }}</td>
                <td>{{ quiz.categories.shortname }}</td>
                <td>{{ quiz.numberOfQuestion }}</td>
                <td>{{ quiz.active ? 'Yes' : 'No' }}</td>
                <td>{{ quiz.createdAt ? quiz.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quiz.updatedAt ? quiz.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>                    
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" href="{{ path('quiz_show', {'id': quiz.id}) }}"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-warning" href="{{ path('quiz_edit', {'id': quiz.id}) }}"><i class="fas fa-pen"></i></a>
                        <a class="btn btn-success" href="{{ path('workout_new', {'id': quiz.id}) }}">Démarer</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-success" href="{{ path('quiz_new') }}"><i class="fas fa-plus-square"></i></a>{% endif %}
{% endblock %}
